.filters-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*^----------PROJECKTS--PORTFOLIO----------------  */
.projeckts {
  margin-top: 50px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: var calc(-1 * var(--card-set-gap));
  margin-bottom: var calc(-1 * var(--card-set-gap));
}

.projeckts > .projeckts-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
  position: relative;
}

//------------------------------------------------------------------------
.projeckts-item__link {
  text-decoration: none;
}

.projeckts-item:hover .card-trumb__hover-text {
  transform: translateY(0%);
}

.card-trumb__hover-text {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 500ms;
  overflow: auto;
}

.projeckts-item-wrap {
  position: relative;
  overflow: hidden;
}

.projeckts-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projeckts-content__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--primary-text-color);
}

.projeckts-content__description {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
}
