.aur-team {
  background-color: var(--background-team);
}

.aur-team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.team__item {
  background-color: var(--text-color-actve);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

/* при ховере зум карточки */
/* .team__item:hover,
.team__item:focus {
  transform: scale(1.1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.team__item:hover {
  cursor: pointer;
}
.card-content {
  padding: 20px 24px;
  border: 1px solid var(--border-card-portfl);
}

.team__content {
  padding: 30px 0;
  max-width: 270px;
}

.team__title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--primary-text-color);
}

.team__description {
  font-family: Roboto;

  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--text-color);
  margin-top: 10px;
}
